In [30]:
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [5]:
beml_df = pd.read_csv('BEML.csv')

In [6]:
glaxo_df = pd.read_csv('GLAXO.csv')

In [7]:
beml_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1121.0,1151.00,1121.00,1134.0,1135.60,101651.0,1157.18
1,2010-01-05,1146.8,1149.00,1128.75,1135.0,1134.60,59504.0,676.47
2,2010-01-06,1140.0,1164.25,1130.05,1137.0,1139.60,128908.0,1482.84
3,2010-01-07,1142.0,1159.40,1119.20,1141.0,1144.15,117871.0,1352.98
4,2010-01-08,1156.0,1172.00,1140.00,1141.2,1144.05,170063.0,1971.42

In [11]:
beml_df.tail()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
1734,2016-12-26,965.00,965.05,935.00,950.10,950.25,398696.0,3783.63
1735,2016-12-27,960.70,989.00,952.35,974.00,975.70,808561.0,7885.14
1736,2016-12-28,980.75,985.00,970.15,977.00,974.40,367041.0,3592.49
1737,2016-12-29,977.10,997.95,974.55,985.15,986.05,555233.0,5489.14
1738,2016-12-30,986.00,1006.95,985.90,1004.00,1000.60,460675.0,4606.48

In [9]:
beml_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1739 entries, 0 to 1738
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1739 non-null   object
 1   Open                  1739 non-null   float64
 2   High                  1739 non-null   float64
 3   Low                   1739 non-null   float64
 4   Last                  1739 non-null   float64
 5   Close                 1739 non-null   float64
 6   Total Trade Quantity  1739 non-null   float64
 7   Turnover (Lacs)       1739 non-null   float64
dtypes: float64(7), object(1)
memory usage: 108.8+ KB

In [10]:
beml_csv.describe()

,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
count,1739.000000,1739.000000,1739.000000,1739.000000,1739.000000,1.739000e+03,1739.000000
mean,700.233180,713.384704,686.280276,698.413370,698.435221,2.352309e+05,1682.773985
std,358.658024,364.165083,351.554420,357.358712,357.429870,3.561114e+05,2705.430289
min,129.300000,133.500000,106.000000,128.900000,129.150000,2.441000e+03,16.130000
25%,371.025000,379.300000,367.525000,370.550000,370.650000,5.878150e+04,263.160000
50%,685.000000,699.800000,666.750000,683.000000,682.150000,1.282050e+05,678.090000
75%,1012.000000,1027.800000,997.000000,1011.200000,1010.550000,2.513440e+05,1956.530000
max,1569.800000,1612.000000,1540.250000,1555.850000,1558.500000,3.720854e+06,26358.000000

In [8]:
glaxo_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11

In [12]:
glaxo_df.head()

,Date,Open,High,Low,Last,Close,Total Trade Quantity,Turnover (Lacs)
0,2010-01-04,1613.00,1629.10,1602.00,1629.0,1625.65,9365.0,151.74
1,2010-01-05,1639.95,1639.95,1611.05,1620.0,1616.80,38148.0,622.58
2,2010-01-06,1618.00,1644.00,1617.00,1639.0,1638.50,36519.0,595.09
3,2010-01-07,1645.00,1654.00,1636.00,1648.0,1648.70,12809.0,211.00
4,2010-01-08,1650.00,1650.00,1626.55,1640.0,1639.80,28035.0,459.11

In [15]:
beml_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1739 entries, 0 to 1738
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Date                  1739 non-null   object
 1   Open                  1739 non-null   float64
 2   High                  1739 non-null   float64
 3   Low                   1739 non-null   float64
 4   Last                  1739 non-null   float64
 5   Close                 1739 non-null   float64
 6   Total Trade Quantity  1739 non-null   float64
 7   Turnover (Lacs)       1739 non-null   float64
dtypes: float64(7), object(1)
memory usage: 108.8+ KB

In [17]:
pd.to_datetime(beml_df['Date'])

0      2010-01-04
1      2010-01-05
2      2010-01-06
3      2010-01-07
4      2010-01-08
          ...
1734   2016-12-26
1735   2016-12-27
1736   2016-12-28
1737   2016-12-29
1738   2016-12-30
Name: Date, Length: 1739, dtype: datetime64[ns]

In [18]:
pd.to_datetime(glaxo_df['Date'])

0      2010-01-04
1      2010-01-05
2      2010-01-06
3      2010-01-07
4      2010-01-08
          ...
1734   2016-12-26
1735   2016-12-27
1736   2016-12-28
1737   2016-12-29
1738   2016-12-30
Name: Date, Length: 1739, dtype: datetime64[ns]

In [19]:
beml_df.shape

(1739, 8)

In [20]:
glaxo_df.shape

(1739, 8)

In [26]:
beml = beml_df.columns[['Date','Close']]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [27]:
glaxo = beml_df.columns[['Date','Close']]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
sns.histplot(data = beml_df,x= 'close')

ValueError: Could not interpret value `close` for `x`. An entry with this name does not appear in `data`.

In [31]:
plt.plot(beml_df['Close'],beml_df['Date'])
plt.show()

AttributeError: module 'matplotlib' has no attribute 'plot'

In [ ]:
plt.plo