#### Import Required Library

In [40]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import datasets
from sklearn.linear_model import LinearRegression,Ridge,Lasso,ElasticNet

In [31]:
california_housing_df = pd.read_csv('california_housing_data.csv')

In [32]:
california_housing_df.shape

(20640, 10)

In [33]:
california_housing_df.head()

   Unnamed: 0  MedInc  HouseAge  ...  Latitude  Longitude  House Price
0           0  8.3252      41.0  ...     37.88    -122.23        4.526
1           1  8.3014      21.0  ...     37.86    -122.22        3.585
2           2  7.2574      52.0  ...     37.85    -122.24        3.521
3           3  5.6431      52.0  ...     37.85    -122.25        3.413
4           4  3.8462      52.0  ...     37.85    -122.25        3.422

[5 rows x 10 columns]

In [34]:
california_housing_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   20640 non-null  int64
 1   MedInc       20640 non-null  float64
 2   HouseAge     20640 non-null  float64
 3   AveRooms     20640 non-null  float64
 4   AveBedrms    20640 non-null  float64
 5   Population   20640 non-null  float64
 6   AveOccup     20640 non-null  float64
 7   Latitude     20640 non-null  float64
 8   Longitude    20640 non-null  float64
 9   House Price  20640 non-null  float64
dtypes: float64(9), int64(1)
memory usage: 1.6 MB

In [35]:
california_housing_df.dtypes

Unnamed: 0       int64
MedInc         float64
HouseAge       float64
AveRooms       float64
AveBedrms      float64
Population     float64
AveOccup       float64
Latitude       float64
Longitude      float64
House Price    float64
dtype: object

In [36]:
california_housing_df.isna().sum()

Unnamed: 0     0
MedInc         0
HouseAge       0
AveRooms       0
AveBedrms      0
Population     0
AveOccup       0
Latitude       0
Longitude      0
House Price    0
dtype: int64

#### Model Building

In [38]:
x = california_housing_df.iloc[:,:-1]
y = california_housing_df.iloc[:,-1]

In [39]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [41]:
linear_model = LinearRegression()
ridge_model = Ridge(alpha=0.1)
lasso_model = Lasso(alpha=0.1)
elastic_net = ElasticNet(alpha=0.1,l1_ratio=0.5)