#### Data Structures in Python (Data Science)
1. List
2. set
3. Tuple
4. Dictionary

##### 1) List
- list is called as one dimentional array(1D)
- hetrogeneous data type
- Indexable and Sliceble
- allows duplicate elements
- Mutable - values can be changed later

In [1]:
grocery_shopping = []

In [2]:
type(grocery_shopping)

list

In [3]:
grocery_shopping = ['Milk', 'Soap','Cooking oil']

In [4]:
student_details = ['Chetan',78,'Maths',74.5]

In [5]:
grocery_shopping[2]

'Cooking oil'

In [6]:
grocery_shopping[-1]

'Cooking oil'

In [7]:
grocery_shopping[0:2]

['Milk', 'Soap']

In [38]:
grocery_shopping[::-1]

['Bread', 'Cooking oil', 'Soap', 'Milk', 'Butter', 'Butter']

In [12]:
grocery_shopping[:]

['Milk', 'Soap', 'Cooking oil']

In [18]:
grocery_shopping = ['Milk', 'Soap','Cooking oil','Milk']
grocery_shopping

['Milk', 'Soap', 'Cooking oil', 'Milk']

In [19]:
grocery_shopping.pop()

'Milk'

In [20]:
grocery_shopping

['Milk', 'Soap', 'Cooking oil']

In [21]:
grocery_shopping.append('Bread')
grocery_shopping

['Milk', 'Soap', 'Cooking oil', 'Bread']

In [26]:
grocery_shopping.insert(0,'Butter')
grocery_shopping

['Butter', 'Butter', 'Milk', 'Soap', 'Cooking oil', 'Bread']

#### 2) Set
- 1 Dimentional
- 2 Hetrogeneous
- 3 Mutable
- 4 No Indexing and Slicing
- 5 No duplicate values allowed

In [27]:
empty_cart = set()
type(empty_cart)

set

In [29]:
vegetable_list = {'Tomato','Potato','Coriander','Onions'}
vegetable_list
###(always tris to print in lower to higher order)

{'Coriander', 'Onions', 'Potato', 'Tomato'}

In [30]:
vegetable_list = {'Tomato','Potato','Coriander','Onions',1,2,1,5,120.50}
vegetable_list

{1, 120.5, 2, 5, 'Coriander', 'Onions', 'Potato', 'Tomato'}

In [ ]:
vegetable_list[0]........##not possible indexing

TypeError: 'set' object is not subscriptable

In [ ]:
vegetable_list[0:3]..........####not possible slicing

TypeError: 'set' object is not subscriptable

In [ ]:
vegetable_list = {'Tomato','Potato','Coriander','Onions','Tomato','Onions',1,2,1,5,5,120.50}
vegetable_list                  
 ###(No duplicate values allowed)

{1, 120.5, 2, 5, 'Coriander', 'Onions', 'Potato', 'Tomato'}

In [ ]:
vegetable_list.add(2.5)  
vegetable_list
##set is mutable

{1, 120.5, 2, 2.5, 5, 'Coriander', 'Onions', 'Potato', 'Tomato'}

In [37]:
vegetable_list.clear()
vegetable_list

set()

### 3) Tuple
- 1d array
- Hetrogeneous in nature
- Indexable and Slicable
- Allows duplicate values
- Immutable

In [39]:
#intialize tuple
empty_cart = ()

In [40]:
type(empty_cart)

tuple

In [43]:
vegetable_list1 = ('Tomato','Potato','Coriander','Oats','Milk',2,5,1,2,2.5,1000)
vegetable_list1

('Tomato', 'Potato', 'Coriander', 'Oats', 'Milk', 2, 5, 1, 2, 2.5, 1000)

In [44]:
vegetable_list1[2:5]

('Coriander', 'Oats', 'Milk')

In [45]:
vegetable_list1[3]

'Oats'

In [46]:
vegetable_list1[::-1]

(1000, 2.5, 2, 1, 5, 2, 'Milk', 'Oats', 'Coriander', 'Potato', 'Tomato')

In [49]:
vegetable_list1[2]='Guava'

TypeError: 'tuple' object does not support item assignment

In [54]:
vegetable_list1 = ('Tomato','Potato','Coriander','Oats','Milk',2,5,1,2,2.5,1000,'Tomato')
vegetable_list1

('Tomato',
 'Potato',
 'Coriander',
 'Oats',
 'Milk',
 2,
 5,
 1,
 2,
 2.5,
 1000,
 'Tomato')

#### 4) Dictionary (key and value pair)
- 2d array
- Indexing and slicing is not possible
- Cannot contain duplicates keys but it allows duplicate values
- Mutable

In [58]:
##Initialize dictionary
empty_cart_2 = {}

In [59]:
type(empty_cart_2)

dict

In [60]:
empty_cart_3 = dict()
type(empty_cart_3)

dict

In [63]:
details = {'fname':['Smita','John'],
           'lname': ['Narkhede','Patil'],
           'age': [27,30]}

In [64]:
details

{'fname': ['Smita', 'John'], 'lname': ['Narkhede', 'Patil'], 'age': [27, 30]}

In [66]:
details[1]   ##cannot index/slice
details[0:2]

KeyError: 1

In [67]:
##cannot contains duplicate keys
details = {'fname':['Smita','John'],
           'lname': ['Narkhede','Patil'],
           'age': [27,30],
           'fname':['Tina','Purva']}
details

{'fname': ['Tina', 'Purva'], 'lname': ['Narkhede', 'Patil'], 'age': [27, 30]}

In [69]:
##allows duplicate values
details = {'fname':['Smita','John','Smita','John'],
           'lname': ['Narkhede','Patil'],
           'age': [27,30],
           }
details

{'fname': ['Smita', 'John', 'Smita', 'John'],
 'lname': ['Narkhede', 'Patil'],
 'age': [27, 30]}

In [70]:
details.keys()

dict_keys(['fname', 'lname', 'age'])

In [72]:
details.values()

dict_values([['Smita', 'John', 'Smita', 'John'], ['Narkhede', 'Patil'], [27, 30]])

In [73]:
details.pop('fname')

['Smita', 'John', 'Smita', 'John']

In [74]:
details

{'lname': ['Narkhede', 'Patil'], 'age': [27, 30]}

In [76]:
import pandas as pd

In [82]:
details = {'fname':['Smita','John','Smita','John'],'lname': ['Narkhede','Patil'],'age': [27,30]}
details

{'fname': ['Smita', 'John', 'Smita', 'John'],
 'lname': ['Narkhede', 'Patil'],
 'age': [27, 30]}

In [83]:
df = pd.DataFrame(details)

ValueError: All arrays must be of the same length

####Task 3: Work on Examples of list, set, tuple and dictionary along with their Methods