#### Data Structures in Python (Data Science)
1. List
2. set
3. Tuple
4. Dictionary

##### 1) List
- list is called as one dimentional array(1D)
- hetrogeneous data type
- Indexable and Sliceble
- allows duplicate elements
- Mutable - values can be changed later

In [1]:
grocery_shopping = []

In [2]:
type(grocery_shopping)

list

In [3]:
grocery_shopping = ['Milk', 'Soap','Cooking oil']

In [4]:
student_details = ['Chetan',78,'Maths',74.5]

In [5]:
grocery_shopping[2]

'Cooking oil'

In [6]:
grocery_shopping[-1]

'Cooking oil'

In [7]:
grocery_shopping[0:2]

['Milk', 'Soap']

In [38]:
grocery_shopping[::-1]

['Bread', 'Cooking oil', 'Soap', 'Milk', 'Butter', 'Butter']

In [12]:
grocery_shopping[:]

['Milk', 'Soap', 'Cooking oil']

In [18]:
grocery_shopping = ['Milk', 'Soap','Cooking oil','Milk']
grocery_shopping

['Milk', 'Soap', 'Cooking oil', 'Milk']

In [19]:
grocery_shopping.pop()

'Milk'

In [20]:
grocery_shopping

['Milk', 'Soap', 'Cooking oil']

In [21]:
grocery_shopping.append('Bread')
grocery_shopping

['Milk', 'Soap', 'Cooking oil', 'Bread']

In [26]:
grocery_shopping.insert(0,'Butter')
grocery_shopping

['Butter', 'Butter', 'Milk', 'Soap', 'Cooking oil', 'Bread']

#### 2) Set
- 1 Dimentional
- 2 Hetrogeneous
- 3 Mutable
- 4 No Indexing and Slicing
- 5 No duplicate values allowed

In [27]:
empty_cart = set()
type(empty_cart)

set

In [29]:
vegetable_list = {'Tomato','Potato','Coriander','Onions'}
vegetable_list
###(always tris to print in lower to higher order)

{'Coriander', 'Onions', 'Potato', 'Tomato'}

In [30]:
vegetable_list = {'Tomato','Potato','Coriander','Onions',1,2,1,5,120.50}
vegetable_list

{1, 120.5, 2, 5, 'Coriander', 'Onions', 'Potato', 'Tomato'}

In [ ]:
vegetable_list[0]........##not possible indexing

TypeError: 'set' object is not subscriptable

In [ ]:
vegetable_list[0:3]..........####not possible slicing

TypeError: 'set' object is not subscriptable

In [ ]:
vegetable_list = {'Tomato','Potato','Coriander','Onions','Tomato','Onions',1,2,1,5,5,120.50}
vegetable_list                  
 ###(No duplicate values allowed)

{1, 120.5, 2, 5, 'Coriander', 'Onions', 'Potato', 'Tomato'}

In [ ]:
vegetable_list.add(2.5)  
vegetable_list
##set is mutable

{1, 120.5, 2, 2.5, 5, 'Coriander', 'Onions', 'Potato', 'Tomato'}

In [37]:
vegetable_list.clear()
vegetable_list

set()

### 3) Tuple
- 1d array
- Hetrogeneous in nature
- Indexable and Slicable
- Allows duplicate values
- Immutable

In [39]:
#intialize tuple
empty_cart = ()

In [40]:
type(empty_cart)

tuple

In [43]:
vegetable_list1 = ('Tomato','Potato','Coriander','Oats','Milk',2,5,1,2,2.5,1000)
vegetable_list1

('Tomato', 'Potato', 'Coriander', 'Oats', 'Milk', 2, 5, 1, 2, 2.5, 1000)

In [44]:
vegetable_list1[2:5]

('Coriander', 'Oats', 'Milk')

In [45]:
vegetable_list1[3]

'Oats'

In [46]:
vegetable_list1[::-1]

(1000, 2.5, 2, 1, 5, 2, 'Milk', 'Oats', 'Coriander', 'Potato', 'Tomato')

In [49]:
vegetable_list1[2]='Guava'

TypeError: 'tuple' object does not support item assignment

In [54]:
vegetable_list1 = ('Tomato','Potato','Coriander','Oats','Milk',2,5,1,2,2.5,1000,'Tomato')
vegetable_list1

('Tomato',
 'Potato',
 'Coriander',
 'Oats',
 'Milk',
 2,
 5,
 1,
 2,
 2.5,
 1000,
 'Tomato')

#### 4) Dictionary (key and value pair)
- 2d array
- Indexing and slicing is not possible
- Cannot contain duplicates keys but it allows duplicate values
- Mutable

In [58]:
##Initialize dictionary
empty_cart_2 = {}

In [59]:
type(empty_cart_2)

dict

In [60]:
empty_cart_3 = dict()
type(empty_cart_3)

dict

In [63]:
details = {'fname':['Smita','John'],
           'lname': ['Narkhede','Patil'],
           'age': [27,30]}

In [64]:
details

{'fname': ['Smita', 'John'], 'lname': ['Narkhede', 'Patil'], 'age': [27, 30]}

In [66]:
details[1]   ##cannot index/slice
details[0:2]

KeyError: 1

In [65]:
##cannot contains duplicate keys
details = {'fname':['Smita','John'],
           'lname': ['Narkhede','Patil'],
           'age': [27,30],
           'fname':['Tina','Purva']}
details

{'fname': ['Tina', 'Purva'], 'lname': ['Narkhede', 'Patil'], 'age': [27, 30]}

In [69]:
##allows duplicate values
details = {'fname':['Smita','John','Smita','John'],
           'lname': ['Narkhede','Patil'],
           'age': [27,30],
           }
details

{'fname': ['Smita', 'John', 'Smita', 'John'],
 'lname': ['Narkhede', 'Patil'],
 'age': [27, 30]}

In [70]:
details.keys()

dict_keys(['fname', 'lname', 'age'])

In [72]:
details.values()

dict_values([['Smita', 'John', 'Smita', 'John'], ['Narkhede', 'Patil'], [27, 30]])

In [73]:
details.pop('fname')

['Smita', 'John', 'Smita', 'John']

In [74]:
details

{'lname': ['Narkhede', 'Patil'], 'age': [27, 30]}

In [3]:
import pandas as pd

In [1]:
details = {'fname':['Smita','John'],'lname': ['Narkhede','Patil'],'age': [27,30]}
details

{'fname': ['Smita', 'John'], 'lname': ['Narkhede', 'Patil'], 'age': [27, 30]}

In [5]:
df = pd.DataFrame(details)
df

   fname     lname  age
0  Smita  Narkhede   27
1   John     Patil   30

#### Task 3: Work on Examples of list, set, tuple and dictionary along with their Methods

### 1. List

In [20]:
fruit = ['Guava','Pineapple','Apple','Grapes']
fruit

['Guava', 'Pineapple', 'Apple', 'Grapes']

In [18]:
## insert - insert an item to the specified index
fruit.insert(3,'Watermelon')
fruit

['Guava', 'Pineapple', 'Apple', 'Watermelon', 'Grapes']

In [19]:
## append - add an item to the end of the list
fruit.append('orange')
fruit

['Guava', 'Pineapple', 'Apple', 'Watermelon', 'Grapes', 'orange']

In [22]:
## remove - remove the first occurence of the list
fruit.remove('Apple')
fruit

['Guava', 'Pineapple', 'Grapes']

In [23]:
fruit_list = ['Guava', 'Pineapple', 'Apple','Grapes' 'Watermelon', 'Grapes', 'orange']
fruit_list.remove('Grapes')
fruit_list

['Guava', 'Pineapple', 'Apple', 'GrapesWatermelon', 'orange']

In [44]:
## count - returns the number of times, an item appers in the list
fruit_list.count('Apple')

1

### 2. Set

In [29]:
home_appliances = {'Mixer','Stove','Fan','Fridge',1,1,3,2}
home_appliances

{1, 2, 3, 'Fan', 'Fridge', 'Mixer', 'Stove'}

In [ ]:
### add - in set add method add an item to the set according to the order of an item
home_appliances.add('Heater')
home_appliances

{1, 2, 3, 'Fan', 'Fridge', 'Heater', 'Mixer', 'Stove'}

In [ ]:
### union - merge new set with elements of the exixsting set
my_set = {'Table','Chair','Laptop'}
new_set = home_appliances.union(my_set)
new_set

{1,
 2,
 3,
 'Chair',
 'Fan',
 'Fridge',
 'Geyser',
 'Heater',
 'Laptop',
 'Mixer',
 'Stove',
 'Table'}

In [ ]:
### issubset - returs true if set is a subset of another set
home_appliances.issubset(new_set)
#home_appliances

True

In [ ]:
### clear - remove all the elements from the set
home_appliances.clear()
home_appliances

set()

### Tuple

In [41]:
get_data = ('Student','Subject','marks','status','John','Science',75.50,'pass')
get_data

('Student', 'Subject', 'marks', 'status', 'John', 'Science', 75.5, 'pass')

In [ ]:
### count
get_data.count('Science')

1

In [47]:
### inedexing and slicing
get_data[4]

'John'

In [48]:
get_data[:]

('Student', 'Subject', 'marks', 'status', 'John', 'Science', 75.5, 'pass')

In [49]:
get_data[-3]

'Science'

In [53]:
get_data[::3]

('Student', 'status', 75.5)

In [51]:
get_data[::-1]

('pass', 75.5, 'Science', 'John', 'status', 'marks', 'Subject', 'Student')

In [ ]:
### pop cannot be used because it immutable
get_data.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [64]:
### add cannot be used because it immutable
get_data.add('Maths')

AttributeError: 'tuple' object has no attribute 'add'

### Dictionary

In [79]:
my_number = {'Even Number': ['2','4'],'Odd Number': ['3','5'],'Prime Number':['7','13']}
my_number

{'Even Number': ['2', '4'],
 'Odd Number': ['3', '5'],
 'Prime Number': ['7', '13']}

In [80]:
## keys() - returns list of all keys in dict
my_number.keys()

dict_keys(['Even Number', 'Odd Number', 'Prime Number'])

In [81]:
## values - returns list of all values in dict
my_number.values()

dict_values([['2', '4'], ['3', '5'], ['7', '13']])

In [82]:
##items - returs key-values
my_number.items()

dict_items([('Even Number', ['2', '4']), ('Odd Number', ['3', '5']), ('Prime Number', ['7', '13'])])

In [83]:
##pop
my_number.pop('Odd Number')

['3', '5']

In [84]:
my_number

{'Even Number': ['2', '4'], 'Prime Number': ['7', '13']}

In [ ]:
### update - returs an updated key value pair
my_number.update({'Prime Number':['11',17]})

In [87]:
my_number

{'Even Number': ['2', '4'], 'Prime Number': ['11', 17]}

In [ ]:
### copy-returns shallow copy the dict
new_dict = my_number.copy()
new_dict

{'Even Number': ['2', '4'], 'Prime Number': ['11', 17]}

In [92]:
new_dict.update({'Odd Number':['5','7']})
new_dict

{'Even Number': ['2', '4'],
 'Prime Number': ['11', 17],
 'Odd Number': ['5', '7']}

### Lambda Function
In python an anonymous function is a that is defined without name.
While normal functions are defined using a "def" keyword in python, anonymous functions are defined using "lambda" keyword.
Hence,

Syntax:
lambda argument: expression

In [2]:
# Example

square = lambda a:a**2
print(square(5))

25

In [3]:
sum = lambda a,b:a+b
print(sum(5,6))

11

#### Advantages
- quick and simple for short task
- saves space compared to defining a full function

#### Limitations
-

In [4]:
even_num = lambda a: a%2==0

In [5]:
print(even_num(4))

True

In [6]:
# Lambda for string operations
to_upper = lambda x:x.upper()
print(to_upper("smita"))

SMITA

#### using Lambda with built-in-functions

In [ ]:
#example using map
numbers = [1,2,3,4,5,6,7,8]
square_list = list(map(lambda num: num**2,numbers))
print(square_list)

[1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
#example using filter
numbers = [1,2,3,4,5,6,7,8]
even = list(filter(lambda num:num%2==0,numbers))
print(even)

[2, 4, 6, 8]

In [ ]:
#example using reduce
from functools import reduce

In [12]:
numbers = [1,2,3,4,5,6,7,8]

multiplication = reduce(lambda x,y : x*y,numbers)
multiplication

40320

In [17]:
##example using sorted
data = [(15,"maths"),(65,"language"),(45,"science")]
sorted_list = sorted(data,key = lambda x:x[1])
print(sorted_list)

[(65, 'language'), (15, 'maths'), (45, 'science')]

In [18]:
# list_a = [1,2,3,4,5,6,7,8,9,10,21,22,35,69]
# Write a code using lambda to filter number >10 from below list

In [16]:
list_a = [1,2,3,4,5,6,7,8,9,10,21,22,35,69]

number_list = list(filter(lambda num : num >10,list_a))
print(number_list)

[21, 22, 35, 69]