1. Project Title

Predicting Attorney Involvement in Insurance Claims Using Machine Learning.

2. Business Context

In the insurance industry, claims involving attorneys tend to increase costs and prolong the settlement process. Identifying factors that contribute to attorney involvement can help insurers take preventive measures, improve customer communication, and streamline claim resolution processes.
By using Machine Learning, we aim to predict the likelihood of attorney involvement in an insurance claim based on key factors such as claimant demographics, seatbelt usage, insurance coverage, and claim loss.

### Import Libraries

In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,recall_score,precision_score,accuracy_score,roc_auc_score,classification_report,roc_curve
from pickle import dump,load

### Data Collection

In [2]:
claim_data = pd.read_csv("claimants.csv")

In [3]:
claim_data.head()

   CASENUM  ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0        5         0     0.0       1.0       0.0    50.0  34.940
1        3         1     1.0       0.0       0.0    18.0   0.891
2       66         1     0.0       1.0       0.0     5.0   0.330
3       70         0     0.0       1.0       1.0    31.0   0.037
4       96         1     0.0       1.0       0.0    30.0   0.038

In [7]:
claim_data.shape

(1340, 7)

In [4]:
claim_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1340 entries, 0 to 1339
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CASENUM   1340 non-null   int64
 1   ATTORNEY  1340 non-null   int64
 2   CLMSEX    1328 non-null   float64
 3   CLMINSUR  1299 non-null   float64
 4   SEATBELT  1292 non-null   float64
 5   CLMAGE    1151 non-null   float64
 6   LOSS      1340 non-null   float64
dtypes: float64(5), int64(2)
memory usage: 73.4 KB

In [5]:
claim_data.describe(include='all')

,CASENUM,ATTORNEY,CLMSEX,CLMINSUR,SEATBELT,CLMAGE,LOSS
count,1340.000000,1340.000000,1328.000000,1299.000000,1292.000000,1151.000000,1340.000000
mean,11202.001493,0.488806,0.558735,0.907621,0.017028,28.414422,3.806307
std,9512.750796,0.500061,0.496725,0.289671,0.129425,20.304451,10.636903
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,4177.000000,0.000000,0.000000,1.000000,0.000000,9.000000,0.400000
50%,8756.500000,0.000000,1.000000,1.000000,0.000000,30.000000,1.069500
75%,15702.500000,1.000000,1.000000,1.000000,0.000000,43.000000,3.781500
max,34153.000000,1.000000,1.000000,1.000000,1.000000,95.000000,173.604000

In [6]:
claim_data.isna().sum()

CASENUM       0
ATTORNEY      0
CLMSEX       12
CLMINSUR     41
SEATBELT     48
CLMAGE      189
LOSS          0
dtype: int64

### Data Preparation

In [15]:
claim_data.dropna(axis=0,inplace=True)

In [13]:
1096/1340 - 1

-0.18208955223880596

In [16]:
claim_data.shape

(1096, 7)

In [17]:
del claim_data['CASENUM']

In [18]:
claim_data.isna()

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE   LOSS
0        False   False     False     False   False  False
1        False   False     False     False   False  False
2        False   False     False     False   False  False
3        False   False     False     False   False  False
4        False   False     False     False   False  False
...        ...     ...       ...       ...     ...    ...
1334     False   False     False     False   False  False
1336     False   False     False     False   False  False
1337     False   False     False     False   False  False
1338     False   False     False     False   False  False
1339     False   False     False     False   False  False

[1096 rows x 6 columns]

### Model Building and Training
1. seperate dependant

In [21]:
x = claim_data.drop('ATTORNEY',axis = 1)
y = claim_data['ATTORNEY']

In [23]:
x_train,x_test,y_train,y_train = train_test_split(x,y,test_size=0.2,random_state=12)

In [27]:
x_train.shape,y_train.shape

((876, 5), (220,))

In [32]:
y_train.shape,y_train.shape

((220,), (220,))

### Model Training

In [34]:
logistic_model = LogisticRegression()
logistic_model.fit(x_train,y_train)

ValueError: Found input variables with inconsistent numbers of samples: [876, 220]

### Model Testing and Evaltuation
- Model Testing

In [ ]:
y_pred = logistic_model.predict(x_test)

### Model Deployment