In [1]:
from scipy import stats

### Example:
 - Null Hypothesis: Avg height of citizens of Pune is 170 cm
 - Alternate Hypothesis: Avg height of citizens of Pune is not 170 cm

In [3]:
sample_height_data = [165,170,168,170,169,171,173]

In [5]:
t_stats,p_value=stats.ttest_1samp(sample_height_data,170)

In [6]:
print(p_value)

0.5685712568714735

In [7]:
if p_value <0.05:
    print("Reject the Null Hypothesis")
else:
    print("Accept the Null Hypothesis")

Accept the Null Hypothesis

### Example of 2 sample t-test:

- Null Hypothesis: both teaching methods performing well
- alternate hypothesis: both teaching methods are not performing well

In [ ]:
group_a_test_result = [78,85,88,92,76,81,75,89]  ## method 1
group_b_test_result = [82,84,86,90,78,80,77,85]  ## method 2

In [11]:
tstats,pvalue = stats.ttest_ind(group_a_test_result,group_b_test_result,equal_var=True)

In [13]:
alpha=0.05

In [14]:
if pvalue < alpha:
    print("Reject the Null Hypothesis")
else:
    print("Fail to Reject the Null Hypothesis")

Fail to Reject the Null Hypothesis

### Chi Square Test
- used to check the relationship between two /more qualitative feature

In [7]:
import seaborn as sns
import pandas as pd

In [3]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

In [6]:
tips_data=sns.load_dataset('tips')
tips_data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### Hypothesis Formulation
- H0: There is no association between 'Sex' and 'Smoker'
- H1: There is association between 'Sex' and 'Smoker'

Significance Level - 0.05

In [21]:
sex_vs_smoker_tips = pd.crosstab(index = tips_data['sex'],columns = tips_data['smoker'])
sex_vs_smoker_tips

smoker  Yes  No
sex
Male     60  97
Female   33  54

In [16]:
chi2_value,p_value,deof,exp_freq = stats.chi2_contingency(observed=sex_vs_smoker_tips)

In [17]:
chi2_value

np.float64(0.0)

In [18]:
deof

1

In [20]:
exp_freq

array([[59.84016393, 97.15983607],
       [33.15983607, 53.84016393]])

In [22]:
p_value

np.float64(1.0)

In [23]:
alpha=0.05

In [ ]:
if p_value < alpha:
    print(acc)

### Example 2: 
- H0 - There is no association between smoker

- H1: There is association between smoker

In [26]:
smoker_vs_day =pd.crosstab(index=tips_data['day'],columns=tips_data['smoker'])
smoker_vs_day

smoker  Yes  No
day
Thur     17  45
Fri      15   4
Sat      42  45
Sun      19  57

In [30]:
chi2_value,p_value,deof,exp_freq = stats.chi2_contingency(observed=smoker_vs_day)

In [29]:
chi2_value

np.float64(25.787216672396262)

In [31]:
p_value

np.float64(1.0567572499836523e-05)

In [32]:
deof

3

### Anova Test (Analysis of Variance)

In [42]:
student_marks = pd.DataFrame({'Student': [1,2,3,4,5,6,7,8],'Method A':[80,90,95,85,75,79,88,87],'Method B':[78,75,74,73,65,80,63,68],'Method C':[92,96,100,85,83,94,91,93]})

In [40]:
student_marks

   Student  Method A  Method B  Method c
0        1        80        78        92
1        2        90        75        96
2        3        95        74       100
3        4        85        73        85
4        5        75        65        83
5        6        79        80        94
6        7        88        63        91
7        8        87        68        93

- H0: At least one method is significantally related to each other
- H1:  There is no method is significantally related to each other

In [45]:
F_oneway,p_value=stats.f_oneway(student_marks['Method A'],student_marks['Method B'],student_marks['Method C'])

In [46]:
p_value

np.float64(7.4972865179650444e-06)

In [47]:
alpha = 0.05

In [48]:
if p_value < alpha:
    print('Accept alternate  Hypothesis')
else: 
    print("Accept Null Hypothesis")

Accept alternate  Hypothesis